{
  "env": {
    "node": true
  },
  "extends" : [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prefer-reflect": [0],
    "no-nested-ternary": [0],
    "max-params": [0],
    "no-unused-vars": ["error", { "args": "none" }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
  },
  "plugins": [
    "prettier"
  ]
}
